{{define "_sidebar"}}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
		<div class="sidebar-brand-icon rotate-n-15">
			<i class="fas fa-rocket"></i>
		</div>
		<div class="sidebar-brand-text mx-3">GO POS</div>
	</a>

	<!-- Divider -->
	<hr class="sidebar-divider my-0">

	<!-- Nav Item - Dashboard -->
	<li
	{{ if eq .ActiveMenu "dashboard" }}
		class="nav-item active"
	{{ else }}
		class="nav-item"
	{{end}}>
			<a class="nav-link" href="/">
				<i class="fas fa-fw fa-tachometer-alt mr-2"></i><span>Dashboard</span>
			</a>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider">

	<!-- Heading -->
	<div class="sidebar-heading">Data</div>

	<!-- Nav Item - Products -->
	<li
	{{ if eq .ActiveMenu "products" }}
		class="nav-item active"
	{{ else }}
		class="nav-item"
	{{end}}>
	<!-- <li class="nav-item"> -->
			<a class="nav-link" href="/products">
					<i class="fas fa-shopping-bag mr-2"></i>
					<span>Products</span></a>
	</li>

	<!-- Nav Item - Order -->
	<li class="nav-item">
			<a class="nav-link" href="/orders">
					<i class="fas fa-cart-plus mr-2"></i>
					<span>Order</span></a>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block">

	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
			<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>

</ul>
{{end}}