{{define "profile"}}
<!doctype html>
<html lang="en">

<head>
    {{template "_meta"}}
    <title>{{.Title}}</title>
</head>

<body>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {{template "_sidebar" .}}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {{template "_navbar" .}}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">
                            <a href="/orders"><i class="fas fa-arrow-left mr-3"></i></a>
                            Profile
                        </h1>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-12">
                            <div class="card shadow mb-4">
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 col-md-3">
                                            {{if .User.PhotoUrl }}
                                                <img
                                                    src="{{.User.PhotoUrl}}"
                                                    alt="{{.User.Name}}"
                                                    style="width: 100%; object-fit: contain;">
                                            {{else}}
                                                <img
                                                    src="/static/image/avatar_placeholder.png"
                                                    alt="{{.User.Name}}"
                                                    style="width: 100%; object-fit: contain;">
                                            {{end}}
                                        </div>
                                        <div class="col-12 col-md-7">
                                            <h1 class="mb-3 text-primary">Profile Data</h1>
                                            <h5 class="mb-1">
                                                <i class="fas fa-user mr-2"></i>{{ .User.Name }}
                                            </h5>
                                            <h5 class="text-muted mb-1">
                                                <i class="fas fa-envelope mr-2"></i> {{ .User.Email }}
                                            </h5>
                                            <div class="mt-3">
                                                <a href="/profile/edit" class="btn btn-success">
                                                    <i class="fas fa-edit mr-2"></i> Edit Profile
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {{template "_footer"}}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <template id="empty-template">
        <tr>
            <td colspan="6" class="text-center text-muted">
                No Product Added
            </td>
        </tr>
    </template>

    <template id="product-template">
        <tr>
            <td id="number"></td>
            <td id="code"></td>
            <td id="name"></td>
            <td id="quantity"></td>
            <td class="text-right" id="price"></td>
            <td class="text-right" id="subtotal"></td>
        </tr>
    </template>

    <template id="total-template">
        <tr class="border-top-primary">
            <td class="font-weight-bold text-right" colspan="5">Total</td>
            <td class="font-weight-bold text-right" id="total">Rp. 0</td>
        </tr>
    </template>

    <!-- Logout Modal-->

    {{template "_script"}}
    <script>
        var detailOrderItems = [];
        var orderItems = [];

        function addProduct() {
            let selectedOption = $('#select-product').find(':selected');
            let selectedId = $('#select-product').val();
            let orderQuantity = Number($('#product-quantity').val());

            if (!selectedId.length || !orderQuantity) {
                return
            }


            detailOrderItem = detailOrderItems.find(item => item.id == selectedId)
            if (!detailOrderItem) {
                detailOrderItems.push({
                    id: selectedId,
                    code: selectedOption.attr("data-code"),
                    name: selectedOption.attr("data-name"),
                    price: selectedOption.attr("data-price"),
                    quantity: orderQuantity,
                    subtotal: Number(selectedOption.attr("data-price")) * orderQuantity,
                });
            } else {
                detailOrderItem.quantity += orderQuantity
                detailOrderItem.subtotal = detailOrderItem.quantity * detailOrderItem.price
            }

            orderItem = orderItems.find(item => item.id == selectedId)
            if (!orderItem) {
                orderItems.push({
                    id: selectedId,
                    quantity: orderQuantity,
                });
            } else {
                orderItem.quantity += quantity;
            }

            resetForm();
            renderItems();
            activateProcessButton();
        }

        function deleteProduct(productId) {
            detailOrderItems = detailOrderItems.filter(item => item.id != productId);
            renderItems();
            activateProcessButton();
        }

        function resetForm() {
            $('#product-quantity').val(0);
            $('#select-product').val("");
            $('#select-product').change();
            $('#select-product').focus();
        }

        function activateProcessButton() {
            if (orderItems.length < 1) {
                $('#submit-button').attr('disabled', true)
                return
            }

            $('#submit-button').attr('disabled', false)
        }

        function renderItems() {
            $('#detail-order-item').empty();
            if (detailOrderItems.length < 1) {
                var temp = $("#empty-template").html();
                $('#detail-order-item').append(temp)
            } else {
                let total = 0;

                detailOrderItems.forEach((detailOrderItem, index) => {
                    let temp = $("#product-template").clone();
                    total += detailOrderItem.subtotal;
                    temp.contents().find("#number").html(index + 1);
                    temp.contents().find("#code").html(detailOrderItem.code);
                    temp.contents().find("#name").html(detailOrderItem.name);
                    temp.contents().find("#quantity").html(detailOrderItem.quantity);
                    temp.contents().find("#price").html("Rp. " + detailOrderItem.price);
                    temp.contents().find("#subtotal").html("Rp. " + detailOrderItem.subtotal);
                    $('#detail-order-item').append(temp.html())
                });

                let temp = $("#total-template").clone();
                temp.contents().find("#total").html("Rp. " + total);
                $('#detail-order-item').append(temp.html())
            }
        }

        $('#create-order-form').on('submit', function(e) {
            e.preventDefault()
            let orderItemsJson = JSON.stringify(orderItems);
            $('#order-items').val(orderItemsJson)
            $('#create-order-form').off().submit();
        })

        $('#select-product').on('change', function() {
            $('#product-quantity').val(0)
        });

        $('#focusguard').on('focus', function() {
            $('#select-product').focus();
        });

        $(document).ready(function() {
            $('#select-product').select2();
            $('#select-product').focus();
            renderItems();
        })
    </script>
</body>

</html>
{{end}}