{{define "content"}}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">
            <a href="/profile"><i class="fas fa-arrow-left mr-3"></i></a>
            Edit Password
        </h1>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Edit Password</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <form action="/profile/password" method="POST" enctype="multipart/form-data">
                        {{if .Error.Message}}
                            <div class="alert alert-warning text-center">{{.Error.Message}}</div>
                        {{end}}
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="">Password</label>
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                      </div>
                                      <input type="password" class="form-control" name="password" id="password" required>
                                    </div>
                                    {{if .Error.Errors.Password}}
                                      <small class="text-danger">{{.Error.Errors.Password}}</small>
                                    {{end}}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="">Password Confirmation</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                        </div>
                                        <input type="password" class="form-control" name="password_confirmation" id="password_confirmation" required>
                                    </div>
                                    {{if .Error.Errors.PasswordConfirmation}}
                                      <small class="text-danger">{{.Error.Errors.PasswordConfirmation}}</small>
                                    {{end}}
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary ml-auto" id="submit-button" disabled>Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>
{{end}}

{{define "style"}}
{{end}}

{{define "script"}}
<script>
    $("#password")
        .add('#password_confirmation')
        .on('keyup', function() {
            if ($("#password").val() != $("#password_confirmation").val()) {
                $("#submit-button").attr("disabled", true)
            } else {
                $("#submit-button").attr("disabled", false)
            }
        })
</script>
{{end}}

{{define "profile_password"}}
  {{template "admin" .}}
{{end}}