{{define "content"}}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">
            <a href="/orders"><i class="fas fa-arrow-left mr-3"></i></a>
            Create Order
        </h1>
    </div>

    <!-- Content Row -->

    <div class="row">
        <!-- Area Chart -->
        <div class="col-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Create Order</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="alert alert-success" style="display: none;" id="success-alert">
                        Order Success
                    </div>
                    <div class="alert alert-danger" style="display: none;" id="failed-alert">
                        Order Failed
                    </div>
                    <form id="create-order-form">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="">Product</label>
                                    <select
                                        class="form-control select2"
                                        id="select-product"
                                        tabindex="1"
                                        autofocus>
                                        <option value="">Select Product</option>
                                        {{range .Products}}
                                            <option
                                                value="{{.ID}}"
                                                data-id="{{.ID}}"
                                                data-code="{{.Code}}"
                                                data-name="{{.Name}}"
                                                data-stock="{{.Stock}}"
                                                data-price="{{.Price}}">
                                                {{.Code}} - {{.Name}}
                                            </option>
                                        {{end}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="">Quantity</label>
                                    <input
                                        type="number"
                                        class="form-control"
                                        id="product-quantity"
                                        value="0"
                                        tabindex="2"
                                        required>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mt-2 mt-md-0">
                                <button
                                    type="button"
                                    role="button"
                                    onclick="addProduct()"
                                    class="btn btn-block btn-success"
                                    tabindex="3">
                                    <i class="fas fa-plus mr-2"></i> Add
                                </button>
                            </div>
                            <div class="col-12 col-md-6 mt-2 mt-md-0">
                                <button
                                    type="button"
                                    role="button"
                                    class="btn btn-block btn-primary"
                                    tabindex="4"
                                    id="submit-button"
                                    onclick="makeOrder()"
                                    disabled>
                                    <i class="fas fa-arrow-right mr-2"></i> Process
                                </button>
                            </div>
                        </div>
                        <div id="focusguard" tabindex="5"></div>
                        <table class="table table-stripped mt-3">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Kode</th>
                                    <th>Nama</th>
                                    <th>Kuantitas</th>
                                    <th class="text-right">Harga</th>
                                    <th class="text-right">SubTotal</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="detail-order-item">
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>

<template id="empty-template">
    <tr>
        <td colspan="6" class="text-center text-muted">
            No Product Added
        </td>
    </tr>
</template>

<template id="product-template">
    <tr>
        <td id="number"></td>
        <td id="code"></td>
        <td id="name"></td>
        <td id="quantity"></td>
        <td class="text-right" id="price"></td>
        <td class="text-right" id="subtotal"></td>
    </tr>
</template>

<template id="total-template">
    <tr class="border-top-primary">
        <td class="font-weight-bold text-right" colspan="5">Total</td>
        <td class="font-weight-bold text-right" id="total">Rp. 0</td>
    </tr>
</template>
{{end}}


{{define "style"}}
{{end}}

{{define "script"}}
<script>
    var detailOrderItems = [];

    function makeOrder() {
        // this code should be in backend
        total = 0;
        orderItems = [];
        detailOrderItems.forEach(function(item) {
            total += item.subtotal;
            orderItems.push({
                product_id: item.id,
                quantity: item.quantity,
                subtotal: item.subtotal
            });
        })

        $.ajax({
            url: "/orders",
            method: "POST",
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({
                total: total,
                order_items: orderItems
            }),
            beforeSend: function() {
                $('#submit-button').attr('disabled', true)
                $('#submit-button').html('<div class="spinner-border spinner-border-sm text-light" role="status"></div>')
            },
            success: function(res) {
                detailOrderItems = [];
                orderItems = [];
                renderItems();
                $("#success-alert").show().delay(5000).fadeOut();
            },
            error: function(res) {
                console.log(res)
                $("#failed-alert").show().delay(5000).fadeOut();
            },
            complete: function() {
                $('#submit-button').attr('disabled', false)
                $('#submit-button').html('<i class="fas fa-arrow-right mr-2"></i> Process')
            }
        })
    }

    function addProduct() {
        let selectedOption = $('#select-product').find(':selected');
        let selectedId = Number($('#select-product').val());
        let orderQuantity = Number($('#product-quantity').val());

        if (!selectedId || !orderQuantity) return

        detailOrderItem = detailOrderItems.find(item => item.id == selectedId)
        if (!detailOrderItem) {
            detailOrderItems.push({
                id: selectedId,
                code: selectedOption.attr("data-code"),
                name: selectedOption.attr("data-name"),
                price: selectedOption.attr("data-price"),
                quantity: orderQuantity,
                subtotal: Number(selectedOption.attr("data-price")) * orderQuantity,
            });
        } else {
            detailOrderItem.quantity += orderQuantity
            detailOrderItem.subtotal = detailOrderItem.quantity * detailOrderItem.price
        }

        resetForm();
        renderItems();
        activateProcessButton();
    }

    function deleteProduct(productId) {
        detailOrderItems = detailOrderItems.filter(item => item.id != productId);
        renderItems();
        activateProcessButton();
    }

    function resetForm() {
        $('#product-quantity').val(0);
        $('#select-product').val("");
        $('#select-product').change();
        $('#select-product').focus();
    }

    function activateProcessButton() {
        if (detailOrderItems.length < 1) {
            $('#submit-button').attr('disabled', true)
            return
        }

        $('#submit-button').attr('disabled', false)
    }

    function renderItems() {
        $('#detail-order-item').empty();
        if (detailOrderItems.length < 1) {
            var temp = $("#empty-template").html();
            $('#detail-order-item').append(temp)
        } else {
            let total = 0;

            detailOrderItems.forEach((detailOrderItem, index) => {
                let temp = $("#product-template").clone();
                total += detailOrderItem.subtotal;
                temp.contents().find("#number").html(index + 1);
                temp.contents().find("#code").html(detailOrderItem.code);
                temp.contents().find("#name").html(detailOrderItem.name);
                temp.contents().find("#quantity").html(detailOrderItem.quantity);
                temp.contents().find("#price").html("Rp. " + detailOrderItem.price);
                temp.contents().find("#subtotal").html("Rp. " + detailOrderItem.subtotal);
                $('#detail-order-item').append(temp.html())
            });

            let temp = $("#total-template").clone();
            temp.contents().find("#total").html("Rp. " + total);
            $('#detail-order-item').append(temp.html())
        }
    }

    $('#select-product').on('change', function() {
        $('#product-quantity').val(0)
    });

    $('#focusguard').on('focus', function() {
        $('#select-product').focus();
    });

    $(document).ready(function() {
        $('#select-product').select2();
        $('#select-product').focus();
        renderItems();
    })
</script>
{{end}}